@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-7xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-lg;
  }
  p {
    @apply mb-4;
  }
}

:root {
  --foreground-rgb: 235, 235, 235;
  --background-rgb: 3, 3, 3;

  --secondary-rgb: 71, 145, 221;

  --content-padding: 15%;

  --navbar-height: 4.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

main {
  padding-right: var(--content-padding);
  padding-left: var(--content-padding);
}

