@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 246, 240, 226;
  --background-rgb: 25, 25, 25;

  --content-padding: 5%;

  --navbar-height: 4.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

main {
  padding-right: var(--content-padding);
  padding-left: var(--content-padding);
}

h2 {
  font-size: 1.5rem;
}