.heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-height: 100vh;

    padding-top: var(--navbar-height);
    padding-bottom: 4rem;
}

.heroTitleContainer {
    position: relative;
}

.heroTitle {
    font-size: 8.5rem;
    padding-left: var(--content-padding);
    padding-top: 2%;
    line-height: 10rem;
}

.ellipse {
    position: absolute;
    left: 15%;
    top: 0;
}

.heroContentContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30%;
}

.contactIconsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}

.contactIcon {
    width: 2rem;
}

.bio {
    font-size: 1.5rem;
    text-align: right;
    max-height: 30rem;
    max-width: 30rem;
}

@media only screen and (max-width: 600px) {
    .heroContainer {
        height: 100vh;
        justify-content: center;
        align-items: center;
        padding-bottom: 5rem;
        padding-top: unset;
        gap: 2rem;
    }

    .heroTitle {
        font-size: 6.2rem;
        line-height: 8rem;
        text-align: center;
        padding-left: unset;
    }

    .ellipse {
        left: 0;
        display: none;
    }

    .heroContentContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .contactIconsContainer {
        order: 2;
    }

    .bio {
        order: 1;
        text-align: center;
        padding: 2%;
        font-size: 1rem;
        opacity: 0.6;
    }

    .contactIcon {
        font-size: 2rem;
    }
}