.heroSection {
  height: 100vh;

  padding-top: calc(var(--navbar-height) + 5%);
  padding-bottom: calc(var(--navbar-height) + 5%);
}

.heroTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 85%;
}

.heroTitle {
  font-size: 8.5rem;
  line-height: 10rem;
}

.ellipse {
  position: absolute;
  left: auto;
  right: auto;
}

.heroContentContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30%;
}

.contactIconsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}

.contactIcon {
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .heroContainer {
    justify-content: center;
    align-items: center;
    padding-top: unset;
    gap: 2rem;
  }

  .heroTitle {
    font-size: 7rem;
    line-height: 8rem;
    text-align: center;
  }

  .ellipse {
    width: 70%;
  }

  .heroContentContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
