.navContainer {
  position: fixed;
  z-index: 1030;
  right: 0;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  background-color: rgb(var(--background-rgb));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5% 0;
  transition: 0.5s;
}

.containerBorder {
  box-shadow: 0 1px 0 0 hsla(0, 0%, 100%, 0.1);
}

.navList {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  height: 100%;
  gap: 2rem;
}

.navBurgerContainer {
  display: none !important;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.navBurger {
  cursor: pointer;
}

.navBurgerList {
  background-color: rgb(var(--foreground-rgb));
  color: rgb(var(--background-rgb));
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 5%;
  top: 100%;
  padding: 1rem;
  gap: 1rem;
}

.navItem {
  font-size: 1.2rem;

  text-decoration: underline;
  text-decoration-color: transparent;

  transition: 0.5s;
}

.navItem:hover {
  text-decoration-color: var(--background-rgb);
}

@media only screen and (max-width: 600px) {
  .navList {
    display: none !important;
  }

  .navBurgerContainer {
    display: flex !important;
  }
}

