.navContainer {
    position: fixed;
    z-index: 1030;
    right: 0;
    top: 0;
    width: 100%;
    height: var(--navbar-height);
}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 1.8rem;
    padding-right: var(--content-padding);
    gap: 2rem;
}

.navBurgerContainer {
    display: none !important;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-top: 5%;
    padding-right: var(--content-padding);
}

.navBurger {
    cursor: pointer;
}

.navBurgerList {
    background-color: rgb(var(--foreground-rgb));
    color: rgb(var(--background-rgb));
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5%;
    top: 100%;
    padding: 1rem;
    width: 90%;
    gap: 1rem;
}

.navItem {
    font-size: 1.5rem;

    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-decoration-color: transparent;

    transition: 0.5s;
}

.navItem:hover {
    text-decoration-color: var(--background-rgb);
}

@media only screen and (max-width: 600px) {
    .navList {
        display: none !important;
    }

    .navBurgerContainer {
        display: flex !important;
    }
}