.line {
    border-width: 0.5px;
    border-color: var(--foreground-rgb);
}

.mainWrapper {
    width: 100%;
}

.listItem {
    opacity: 1;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    padding: 1.2rem;
}

.listContainer:hover>.listItem {
    opacity: 0.5;
}

.listContainer:hover>.listItem:hover {
    opacity: 1;
    transform: scale(1.01);
}

.listItemHeadingContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toolsList {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    opacity: 0.6;
    flex-wrap: wrap;
}

.listItemHeadingContent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.listItemExpandedContent {
    font-size: 1rem;
    margin-left: 5%;
    opacity: 0.7;
}

.titleToolsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}