.line {
    border-width: 0.5px;
    border-color: var(--foreground-rgb);
}

.listItem {
    opacity: 1;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    padding: 1.2rem;
}

.listContainer:hover>.listItem {
    opacity: 0.5;
}

.listContainer:hover>.listItem:hover {
    opacity: 1;
    transform: scale(1.01);
}

.itemHeadingContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

.listItemLeftContent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.listItemRightContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listItemExpandedContent {
    font-size: 1rem;
    margin-left: 5%;
    opacity: 0.7;
}