.sectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    min-height: 100vh;

    padding-top: var(--navbar-height);
    padding-bottom: 4rem;
}

.sectionTitle {
    font-size: 4rem;
}