.sectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-top: calc(var(--navbar-height) + 5%);
  padding-bottom: calc(var(--navbar-height) + 5%);
}

.sectionTitle {
  margin-bottom: 5%;
}

