@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=DM Serif Display');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

:root {
    --main-bg-color: #2b2b2b;
    --main-font-color: #ffff;
    --main-font-family: 'Poppins', sans-serif;
    --card-bg-color: #171717;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
    background-image: url(images/background.png);
    background-attachment: fixed;
    background-size: 15%;
    font-family: var(--main-font-family);
}

main {
    width: 100%;
    display: grid;
    grid-template-rows: 100vh auto;
    align-items: center;
    justify-content: center;
    grid-gap: 100px;
}

a {
    text-decoration: none;
    color: var(--main-font-color)
}

#navbar {
    position: relative;
    float: left;
    display: flex;
    width: 38%;
    height: 5%;
    gap: 15px;
    margin-top: 20px;
    margin-left: 20px;
    align-content: space-between;
    font-size: large;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--card-bg-color);
    box-shadow: 0 0 12px 0 black;
    width: 400px;
    border-radius: 15px;
    padding: 50px;
}

.card h2 {
    font-family: 'DM Serif Display';
    font-size: 30pt;
    font-weight: normal;
}

.card > h3 {
    margin-bottom: 0;
}

.card > .description {
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 15px;
}

hr {
    width: 100%
}

#name {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#profile-pic {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
}

.socials > a {
    color: var(--main-font-color);
}

.socials i {
    margin-right: 20px;
    margin-top: 20px;
    font-size: large;
}

@media screen and (max-width: 850px) {
    /* #navbar {
        display: none;
    } */

    /* #name {
        flex-direction: column;
    } */

    /* #name > h2 {
        font-size: 25pt;
    } */
}
